{% extends 'base.html' %}



{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="members-listing shadow-sm p-3">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="submit" value="confirm">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <a href="{% url 'create-member' %}">Create Member</a>
{% endblock %}